extends layout

block content
  h1= title
  - var items = results
  div.container-fluid
      div.row
          each item,index in items
               div.col-sm-2(onclick=`buy(${index})`) kite colour: #{item["kite_colour"]} <br> kite shape: #{item["kite_shape"]} <br> kite cost: #{item["kite_cost"]}
      script.
          function buy(index) {
          alert("You Purchased item "+index);
            }